@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* body {
     @apply bg-dark-900 text-white transition-colors duration-300;
};

.light body {

  @apply bg-light-100 text-slate-900;

} */