@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-darkBg text-white transition-colors duration-300;
}

.light body {
  @apply bg-lightBg text-slate-900;
}